.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.text {
  display: inline-block;
  margin: 0;
}

.deleteBtn {
  width: 100px;
  font-size: 16px;
  padding: 0;
}
